<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de Estilos</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Cadastro de estilo de cerveja</h1>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<th:block th:include="fragments/MensagemSucesso"></th:block>
		
		<form method="POST" th:object="${estilo}">

		<th:block th:include="fragments/MensagensErroValidacao"></th:block>		
		
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="nome" class="label-control">Nome</label>
					<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}">
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
	</div>

</section>


</html>